body {
  margin: 0;
  font-family: "Arcade";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #06fc99;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Arcade";
  src: local("Arcade"), url("./components/fonts/ArcadeAlternate.woff"),
    url("./components/fonts/ArcadeAlternate.woff2");
}